{% extends 'base.html' %}
{% block title %}RojasLabs email form contact us{% endblock %}
{% block meta %}
  <meta property="og:title" content="Contact us page rojaslabs website design questions">
  <meta property="og:description" content="Contact us website form to request more info on website design for small businesses">
  <meta property="og:image" content="http://www.rojaslabs.com/static/img/rojashome2.jpg">
  <meta property="og:url" content="http://rojaslabs.com/contactus.html">
{% endblock %}

{% block content %}
<div style="background-image:url({{ url_for('static', filename='img/matrix.jpg') }})" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1 text-light">Contact Us</h1>
      <p class="lead text-light"></p>
    </div>
  </div>
    <!-- contact us form starts here-->
    <div class="container" style="background-image:url({{ url_for('static', filename='img/bluestars.jpg') }})">
        <form action="{{url_for('contactus')}}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
        <br>
        <div class="row text-light">
        <div class="col">
            {{ form.first.label }} {{ form.first }}
        </div>
        <div class="col">
            {{ form.last.label }} {{ form.last }}
        </div>
        </div>
        <br>
        <div class="row text-light">
        <div class="col">
            {{ form.email.label }} {{ form.email }} 
        </div>
        <div class="col">
            {{ form.phonenum.label }} {{ form.phonenum }}
        </div>
        </div>
        <br>
        <div class="row text-light">
        <div class="col">
            {{ form.message.label }}
            <br>
            {{ form.message(cols='65',rows='5') }} 
        </div>
        <div class="col">
            {{ form.file.label }} {{ form.file }}
        </div>
        </div>
        <br>
        {{ form.submit() }}
        <br>
    </form>
    </div>
    
    
    
{% endblock content %}