{% extends 'base.html' %}
{% block title %}RojasLabs website prices plans{% endblock %}
{% block meta %}
  <meta property="og:title" content="Website Design prices and services">
  <meta property="og:description" content="Rojaslabs website design for small business price and plan catalog">
  <meta property="og:image" content="http://www.rojaslabs.com/static/img/rojashome2.jpg">
  <meta property="og:url" content="http://rojaslabs.com/prices.html">
{% endblock %}

{% block content %}

<div style="background-image:url({{ url_for('static', filename='img/matrix.jpg') }})" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1 text-light">Pricing</h1>
      <p class="lead text-light"></p>
    </div>
  </div>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Website Creation</h1>
                  <h1>Basic Package $195</h1>
                  <ul>
                    <li>Customized Web Design</li>
                    <li>Up to 6 Sections of Content</li>
                    <li>Contact us email form setup</li>
                    <li>Optimized for google searches</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Website Creation</h1>
                  <h1>Silver Package $355</h1>
                  <ul>
                    <li>Basic Package plus...</li>
                    <li>4 Additional Sections (total of 10)</li>
                    <li>1 Addtional Python Application Service</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Website Creation</h1>
                  <h1>Gold Package $765</h1>
                  <ul>
                    <li>Silver Package plus...</li>
                    <li>5 Additional sections (total of 15)</li>
                    <li>2 Addtl. Python functions (total of 3)</li>
                    <li>User login Registration function</li>
                    <li>Backend Database</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        
        <div class="row"> <!-- second row -->
          <div class="col-sm">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Social Media Campaign</h1>
                <h1>Basic Package $45 per month</h1>
                <ul>
                  <li>Custom Campign Design</li>
                  <li>Creation of 2 social media accounts</li>
                  <li>Up to 2 post per week</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Social Media Campaign</h1>
                <h1>Silver Package $65 per month</h1>
                <ul>
                  <li>Basic Package plus...</li>
                  <li>1 additional account (total 3)</li>
                  <li>Up to 3 post per week</li>
                  <li>Build followers to 1000+</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Social Media Campaign</h1>
                <h1>Gold Package $85 per month</h1>
                <ul>
                  <li>Silver Package plus...</li>
                  <li>Up to 4 post per week</li>
                  <li>1 video post per week</li>
                  <li>Build followers to 5000+</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
     
      <div class="row"> <!-- third row -->
        <div class="col-sm">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Website Hosting</h1>
              <h1>Basic Package $45 per year</h1>
              <ul>
                <li>Single Server</li>
                <li>Single Internet Access</li>
                <li>Single Power Source</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Website Hosting</h1>
              <h1>Silver Package $90 per year</h1>
              <ul>
                <li>Single Server</li>
                <li>Dual Internet Access</li>
                <li>Dual Power Sources</li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Website Hosting</h1>
              <h1>Gold Package $165 per year</h1>
              <ul>
                <li>Dual Servers</li>
                <li>Dual Internet Access</li>
                <li>Dual Power Sources</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div> <!-- End of container -->

    
{% endblock content %}