{% extends 'base.html' %}
{% block title %}RojasLabs Thank you from form{% endblock %}
{% block meta %}
  <meta property="og:title" content="Thank you Rojaslabs Website design">
  <meta property="og:description" content="Thank you page for Rojaslabs website custom designs and social media">
  <meta property="og:image" content="http://www.rojaslabs.com/static/img/rojashome2.jpg">
  <meta property="og:url" content="http://rojaslabs.com/thankyou.html">
{% endblock %}

{% block content %}

        <br>
        
                
        <div class="container">
        <div class="jumbotron">
            <h1> Thank you {{session['first']}} {{session['last']}} for contacting us! We will get back to you shortly! </h1>
        </div>
        </div>
        

    
{% endblock content %}